<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<meta charset="UTF-8">
<title>Restaurant's Name</title>
</head>
<body>
	<h1 class="text-center">Our Menu</h1>
	<div class="container mt-4">
		<div th:each="category : ${categories}">
			<!-- Category Heading -->
			<h4 class="category-heading" th:text="${category.name}"></h4>
			<hr>
			<div th:each="dish : ${category.dishes}" class="row align-items-center mb-3">
				<div class="menu-container">
					<div class="mb-3">
						<img th:src="${dish.imageUrl != null && dish.imageUrl != '' ? '/uploads/' + dish.imageUrl : '/img/placeholder.jpg'}" alt="Dish Image" class="card-img-top menu-img">
					</div>
					<div class="ms-3">
						<h5 class="mb-1" th:text="${dish.name}"></h5>
						<p class="mb-1 text-muted" th:text="${dish.description}"></p>
						<span class="fw-bold" th:text="'$' + ${dish.price}"></span>
						<button class="btn btn-outline-secondary btn-sm add-to-cart" th:attr="data-dish-id=${dish.id}, data-dish-name=${dish.name}, data-dish-price=${dish.price}">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
		<button id="viewCartBtn" class="btn btn-primary" onclick="showCart()">
			<i class="bi bi-cart" style="font-size: 24px;"></i> <span id="cartBadge" class="badge rounded-pill bg-danger" style="position: absolute; top: -5px; right: -10px;">0</span>
		</button>
	</div>
	<div id="cartModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Your Cart</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="cartItems" class="list-group">
					</div>
					<div class="modal-footer">
						<div class="total-price">
							<strong>Total:</strong> <span id="totalPrice">$0.00</span>
						</div>
						<button type="button" class="btn btn-primary" id="placeOrderButton" onclick="placeOrder()">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{javascript/cart.js}"></script>
</body>
</html>